.form h3{
    color: purple;
    margin: auto;
    padding-top: 20px;
 
}
.addNewfood{
    line-height: 2em;
    margin: auto;
    align-items: center;
    padding-bottom: 40px;
    

}

.addNewfood fieldset{
    width: 250px;
    text-align: center;
    margin: auto;
    height: 65vh;
    border: solid 2px purple;
    background-color: lightgreen;
    padding: 20px 0 0 0;
    
}
.btnsubmit{
    padding-top: 20px;
}