header{
    display: flex;
    justify-content: space-between;
    gap: 2em;
    margin: 0 100px 0 100px;
    align-items: center;
    background-color: green;
    height: 20vh;
    
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
header h1{
    color: orange;
    font-size: 40px;
}
header ul{
    list-style: none;
    display: flex;
    gap: 5em;

}
header a{
    text-decoration: none;
    color: wheat;
}
header li{
    color: wheat;
    font-size: 20px;
}
header li :hover{
    color: orange;
}
header :hover{
    color: orange;
}
.headtop{
    background-color: green;
}