.formlogin{
    text-align: center;
    line-height: 2.5em;
    gap: 2em;
    padding: 20px;
   
    
}
.formlogin fieldset{
    border:  solid 2px green;
    height: 32vh;
    background-color: lightgreen;
 
}

.FieldLogin{
    width: 30%;
    height: 45vh;
    margin: auto;
    border: solid 3px black;
    margin: auto;
    background-color: lightslategray;
    
    
}
.loginstyle{
    padding-top: 15%;
    background-image: url(https://i.pinimg.com/originals/1b/76/b4/1b76b4e85797ffa1af112066c35be05c.jpg);
    height: 100vh;
   
}



