/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

header{
  display: flex;
  justify-content: space-between;
  gap: 5em;
  align-items: center;
  padding: 50px;
  background-color: #008ECC;
}
header h1{
  color: ghostwhite;
  font-size: 40px;
  padding-top: 4px;
}
header ul{
  display: flex;
  gap: 9em;
  list-style: none;
  align-items: center;

}
.listlog a{
  font-size: 21px;
  position: relative;
}
header a{
  text-decoration: none;
  color: ghostwhite;
  flex-wrap: wrap;

}
a input{
  width: 400px;
  padding: 5px;
}
 header li{
  padding-top: 20px;
  align-items: center;
  font-size: larger;
}

.deals{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding:  50px 150px 0 150px;
  gap: 5em;
  text-align:  center;
  align-items: center;
} 
.smartphone{
  padding-top: 20px;
}
.fashion{
  padding-top: 20px;
}
.cookies{
  padding-top: 20px;

}
.audio{
  padding-top: 20px;

}
.carticon{
  margin-top: 2px;
}
.loginsignup{
  margin-top: 2px;
}



.cartspan{
  font-size: large;
}
.carticon a:hover{
  color: green;
} 

.todaydeal {
  text-align: center;
  padding-top: 20px;
}
.deals img:hover{
  transform: scale(1.1);
}
.smartphonemap{
  display: flex;
  justify-content: space-between;
  margin:  50px 200px 0 150px;
  gap: 5em;
  text-align: center;
  line-height: 2em;
  flex-wrap: wrap;

}
.offerhandle{
  padding-bottom: 20px;

}
.offerhandle button{
  border-radius: 20px;

}
button{
  padding: 5px;
  border: solid 2px;
  background-color: #008ECC;
}
button:hover{
  color: lawngreen;
}
.phonehead{
  text-align: center;
  padding-top: 50px;
  margin: auto;
}
.buyhandle button{
  border-radius: 20px;

}
.loginsignup a:hover{
  color: green;
}

h1 a:hover{
  color: green;
}
.menfashion{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 5em;
  padding:  50px 200px 0 200px ;
}
.cookiesmap{
  display: flex;
  justify-content: space-between;
  gap: 5em;
  flex-wrap: wrap;
  padding: 50px 200px 0 200px;
}
.audiomap{
  display: flex;
  justify-content: space-between;
  gap: 5em;
  flex-wrap: wrap;
  padding: 50px 200px 0 200px;

}
.cook h3{
  text-align: center;
  padding-top: 50px;
}
.fash h3{
  text-align: center;
  padding-top: 50px;
}
.gear h3{
  text-align: center;
  padding-top: 50px;
}
.fashioncenter,h3,span {
text-align: center;
line-height: 2em;

}
.cooktop,h3,span{
  text-align: center;
line-height: 2em;
}
.geartop,h3,span{
  text-align: center;
  line-height: 2em;
}
.buyfash{
  padding-top: 20px;
}
.buyfash  button{
  border-radius: 20px;
}
.offerhand{
  padding-top: 20px;
}
.offerhand button{
  border-radius: 20px;
}
.handlecook button{
  border-radius: 20px;
}
.handlecook{
  padding-top: 20px;
}
.cookbuy{
  padding-top: 20px;
}
.cookbuy button{
  border-radius: 20px;

}
.audioffer button{
  border-radius: 20px;

}
.audioffer{
  padding-top: 20px;
}
.offeraudio button{
  border-radius: 20px;
}
.offeraudio{
  padding-top: 20px;

}
.textdes,h3,span{
  text-align: center;
}
.imagedes {
  text-align: center;
}
.descripe{
  padding-top: 50px;
  line-height: 2em;
  padding-bottom: 20px;
}
.formlog{
  padding: 25px 0 25px 0 ;
  text-align: center;
}
.logsig{
  padding-top: 20px;
}

.loginbtn input{
 padding: 3px;
 color: whitesmoke;
 background-color: #008ECC;
 
}
.formgap input{
  margin-bottom: 25px;
  width: 300px;
}
@media screen and ((min-width: 400px) and (max-width:500px)){
  header{
    border: solid 2px green;
   
  }
li{
display: block;
}
  }
.dealscolor{
background-color: whitesmoke;  
}
.cartitem{
 display: flex;
 justify-content: space-between;
 flex-wrap: wrap;
 align-items: center;
 text-align: center;
 padding-left: 200px;
 padding-right: 200px;
 padding-top: 50px;
 gap: 5em;
 line-height: 3em;
}
.carthead h1{
  text-align: center;

}